    <!-- Slideshow 4 -->
  <div id="index-header">
      <img src="/img/big-diamond.jpg" width="100%" alt=""  style="position:relative">
  </div>
<br><br>

<div class="index-wen">
  <p class="en">N E W S H O W</p>
  <p class="cn">新品推荐</p>
</div>

<div class="index-product">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="img-con-5 img-con">
            <a href="/product-desc">
              <img src="/img/dia1.png" alt="">

              <p class="title">天鹅系列铭心美钻戒指 <br>
              <span class="btn" style="display:none">查看钻饰设计</span></p>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="img-con-6 img-con">
            <a href="/product">
              <img src="/img/dia1.png" alt="">

              <p class="title">天鹅系列铭心美钻戒指 <br>
              <span class="btn" style="display:none">查看钻饰设计</span></p>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="img-con-7 img-con">
            <a href="/product">
              <img src="/img/dia1.png" alt="">

              <p class="title">天鹅系列铭心美钻戒指 <br>
              <span class="btn" style="display:none">查看钻饰设计</span></p>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="img-con-8 img-con">
            <a href="/product">
              <img src="/img/dia1.png" alt="">

              <p class="title">天鹅系列铭心美钻戒指 <br>
              <span class="btn" style="display:none">查看钻饰设计</span></p>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="img-con-9 img-con">
            <a href="/product">
              <img src="/img/dia1.png" alt="">

              <p class="title">天鹅系列铭心美钻戒指 <br>
              <span class="btn" style="display:none">查看钻饰设计</span></p>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="img-con-10 img-con">
            <a href="/product">
              <img src="/img/dia1.png" alt="">

              <p class="title">天鹅系列铭心美钻戒指 <br>
              <span class="btn" style="display:none">查看钻饰设计</span></p>
            </a>
          </div>
        </div>
      </div>


    </div>
  </div>

<div class="index-wen">
  <p class="en">D I S P L A Y</p>
  <p class="cn">门店展示</p>
</div>

<div class="index-mendian">
  <img src="/img/mendian2.jpg" width="90%" alt="">
</div>

<div class="index-wen">
  <p class="en">B R A N D</p>
  <p class="cn">品牌形象</p>
</div>

<div class="index-taidu">
  <div class="container-fluid">
    <div class="row" style="text-align: center">
      <div class="col-md-8 col-sm-8 col-xs-12">
          <img src="/img/mendian2.jpg" height="100%" alt="">

      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
          <img src="/img/taidu.jpg" height="100%" alt="">
      </div>
    </div>
  </div>

</div>











