<div class="main">

	<div class="pro-tab">
		<ul>
			<li style="border-right: 1px solid #ebebeb"><a href="">戒指</a></li>
			<li style="border-right: 1px solid #ebebeb"><a href="">耳饰</a></li>
			<li style="border-right: 1px solid #ebebeb"><a href="">吊坠</a></li>
			<li><a href="">系列</a></li>
		</ul>
	</div>

	<div class="pro-desc">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12" style="text-align:center;margin-top:40px;">
				<a href="" style="float:left;color:#888"><i class="fa fa-chevron-left"></i>&nbsp&nbsp上一页</a>
				<br>
					<p><b><big>幸运草系列礼成美钻吊坠</big></b></p>				
					<hr><br><br>
					<p>饰品细节
					<hr>
美钻型状  <span style="color:rgb(181, 201, 212);margin-left: 14px;">圆形明亮型</span><br><br>
镶嵌  <span style="color:rgb(181, 201, 212);margin-left: 14px;">4爪镶嵌</span><br><br>
镶嵌材质  <span style="color:rgb(181, 201, 212);margin-left: 14px;">白金</span></p><hr>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<img src="/img/dia1.png" alt="" width="100%">
				</div>

				
			</div>
		</div>
	</div>
</div>