<div class="main">

	<div class="pro-tab">
		<ul>
			<li style="border-right: 1px solid #ebebeb"><a href="">戒指</a></li>
			<li style="border-right: 1px solid #ebebeb"><a href="">耳饰</a></li>
			<li style="border-right: 1px solid #ebebeb"><a href="">吊坠</a></li>
			<li><a href="">系列</a></li>
		</ul>
	</div>
	<div style="text-align: center;color: #666;padding-top: 10px;font-size: 12px;">	
		<p>结果数量 189</p>
	</div>
	<div class="product">
		<div class="container-fluid">

			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="img-con-5 img-con">
						<a href="/product-desc">
							<img src="/img/index2.jpg" alt="">

							<p class="title">天鹅系列铭心美钻戒指 <br>
							<span class="btn" style="display:none">查看钻饰设计</span></p>
						</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="img-con-6 img-con">
						<a href="/product">
							<img src="/img/index2.jpg" alt="">

							<p class="title">天鹅系列铭心美钻戒指 <br>
							<span class="btn" style="display:none">查看钻饰设计</span></p>
						</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="img-con-7 img-con">
						<a href="/product">
													<img src="/img/index2.jpg" alt="">

							<p class="title">天鹅系列铭心美钻戒指 <br>
							<span class="btn" style="display:none">查看钻饰设计</span></p>
						</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="img-con-8 img-con">
						<a href="/product">
							<img src="/img/index2.jpg" alt="">

							<p class="title">天鹅系列铭心美钻戒指 <br>
							<span class="btn" style="display:none">查看钻饰设计</span></p>
						</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="img-con-9 img-con">
						<a href="/product">
							<img src="/img/index2.jpg" alt="">
							<p class="title">天鹅系列铭心美钻戒指 <br>
							<span class="btn" style="display:none">查看钻饰设计</span></p>
						</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="img-con-10 img-con">
						<a href="/product">
							<img src="/img/index2.jpg" alt="">
							<p class="title">天鹅系列铭心美钻戒指 <br>
							<span class="btn" style="display:none">查看钻饰设计</span></p>
						</a>
					</div>
				</div>
			</div>

				<!-- 		<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="img-con-1 img-con">
						<a href="/product">
							<img src="/img/dia1.png" alt="">

							<p class="title">天鹅系列铭心美钻戒指 <br>
							<span class="btn" style="display:none">查看钻饰设计</span></p>
						</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="img-con-2 img-con">
						<a href="/product">
							<img src="/img/dia1.png" alt="">

							<p class="title">天鹅系列铭心美钻戒指 <br>
							<span class="btn" style="display:none">查看钻饰设计</span></p>
						</a>
					</div>
					<div class="img-con-3 img-con">
						<a href="/product">
							<img src="/img/dia1.png" alt="">

							<p class="title">天鹅系列铭心美钻戒指 <br>
							<span class="btn" style="display:none">查看钻饰设计</span></p>
						</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="img-con-4 img-con">
						<a href="/product">
							<img src="/img/dia1.png" alt="">

							<p class="title">天鹅系列铭心美钻戒指 <br>
							<span class="btn" style="display:none">查看钻饰设计</span></p>
						</a>
					</div>
				</div>
			</div> -->
	<nav style="text-align:center">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$('.img-con a').hover(function() {
			/* Stuff to do when the mouse enters the element */
			$(this).find('.title').css({
				'fontSize': '17px',
				'bottom': '60px',
				
			});
			$(this).find('.btn').css({
				'bottom': '38px',
				'display': 'inline'
			});
		}, function() {
			/* Stuff to do when the mouse leaves the element */
			$(this).find('.title').css({
				'fontSize': '17px',
				'bottom': '10px',
				'color': ' rgb(181, 201, 212)'
			});
			$(this).find('.btn').css({
				'bottom': '0px',
				'display': 'none'
			});
		});
	});
</script>