<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/responsiveslides.css">
	<link rel="stylesheet/less" type="text/css" href="/css/app.less">
	<script src="/js/less.min.js"></script>
	<script src="/js/jquery.min.js"></script>
	<title><%- title %></title>
</head>
<body>

<div class="fix-right">
	<ul>
		<li>
			<a><i class="fa fa-wechat"></i></a>
			<p><img src="/img/erweima.png" alt=""></p>
		</li>
		<li><a><i class="fa fa-qq"></i></a></li>
		<li><a><i class="fa fa-mobile fa-lg" style="font-size: 40px;padding-left: 7px"></i></a>
			<p style="padding-left:5px;padding-top:5px;">13266836563 <br>（陈先生）</p>
		</li>
		<li><a href="" class="to-up"><i class="fa fa-angle-up fa-lg" style="padding-left: 7px;"></i></a>
			<p style="padding-left:20px;padding-top:10px;">移上顶部</p>
		</li>
	</ul>
</div>	

<script>
	$('.fix-right a').hover(function() {
		/* Stuff to do when the mouse enters the element */
		$(this).siblings('p').css('opacity', '1');
	}, function() {
		/* Stuff to do when the mouse leaves the element */
		$(this).siblings('p').css('opacity', '0');
	});

</script>
<header>
<div class="top">
	
			<img src="/img/logo.png" alt="" width="120px;">
			<br>	

			<!-- <span style="font-size: 14px;line-height:40px;"><b>JINGFU® 景福珠宝</b></span> -->

</div>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav my-nav">
	        <li><a href="/" class="one">景福珠宝</a>
	        <a href="/" class="en">Home</a></li>



	        <li>
	          <a href="/product" class="one">钻石系列</a>
	          <a href="/product" class="en">Product</a>
	          
	        </li>



	        <li>
	          <a href="/#" class="one">互动案例 </a>
	          <a href="/product" class="en">Case</a>
	        </li>

	        <li><a href="/brand" class="one"><i>JF</i> 品牌文化</a>
	          <a href="/product" class="en">Culture</a>
	        </li>

	        <li><a href="#" class="one" style="border-right:0">在线商城</a>
	        		          <a href="/product" class="en" style="border-right:0">Shopping</a>
	        </li>
	      </ul>
	      

	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</header>
	<%-body %>

      <p style="text-align:center;/*max-width:1180px;margin:0 auto;*/line-height:50px;font-size:12px;">
        <span style="float:left">2016© Jing Fu. All rights reserved. </span>   

<span style="float:right">      Tel：13414124124</span>
      </p>
      <br>
	<script src="/js/responsiveslides.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
    // You can also use "$(window).load(function() {"
    $(function () {

     
      // Slideshow 4
      $("#slider4").responsiveSlides({
        auto: true,
        pager: true,
        nav: false,
        speed: 500,
        namespace: "callbacks",
        before: function () {
          $('.events').append("<li>before event fired.</li>");
        },
        after: function () {
          $('.events').append("<li>after event fired.</li>");
        }
      });

    });
  </script>
  <script>
	$(document).ready(function() {

		$('.my-nav li .one').hover(function() {
			/* Stuff to do when the mouse enters the element */
			// $(this).hide();
			$(this).siblings('.en').css({
				'opacity': '1'
			});
			$(this).css('opacity', '0');
		}, function() {
			/* Stuff to do when the mouse leaves the element */
			$(this).siblings('.en').css({

				'opacity': '0'

			});
			$(this).css('opacity', '1');
		});



	// 滚动条低于100px出现右边联系
	$(function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() > 50) {
                    $(".fix-right").fadeIn(500);
                } else {
                    $(".fix-right").fadeOut(500);
                }
            });

            $(".fix-right .to-up").click(function () {
                $('body,html').animate({ scrollTop: 0 }, 1000);
                return false;
            });
        });

	});
	</script>
</body>
</html>